*{
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0  ;
} 

:root{
  --red1: hsl(345,100%,48%);
  --red2: hsl(345,100%,38%);
  --white1:hsl(0,0%,100%);
  --white2:hsl(0,0%,90%);
--blue:hsl(215,100%,20%);
font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}

body{
  background-color: var(--blue);
  color: var(--white1);
  font: 1em/1.5 sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;

}